<h1>This is my first Angular change</h1>
<h1>{{age}}</h1>
<h1>{{2+2}}</h1>
<h1>{{'hello'.toUpperCase()}}</h1>
<app-login></app-login>
<button (click)="clickmebtn()">click me</button>
<app-profile></app-profile>
<app-counter></app-counter>
<button (click)="eventhandler($event)">button for event</button>

<!--example for templte reference variable-->
<h2>Email : {{email}}</h2>
<input type="text" placeholder="type email" #emailField />
<button (click)="getValue(emailField.value)">click</button>
<!--
limitations of extrapolation
 <h1>{{var x}}    invalid
 no use of increment and decrement operator
</h1>-->
@if(dispaly){
<h1>if statement executed</h1>
}@else{
<h1>else statement executed</h1>}
<button (click)="status()">toggle</button>
@for (student of students; track student.name; let id = $index){<!--//index is type of reserved keywork word which are being representd by use of $-->

<h2>{{id}}</h2>
<h2>{{student.name}}</h2>

}
<!--<h1>{{x}}</h1>-->
<h1>{{x()}}</h1>
<button (click)="x.set(100)">setting signal</button>
<h1>{{result()}}</h1>
<button (click)="computedsignal()">example of computed signal</button>
@for(name of names;track name;let i = $index; let f = $first; let l = $last)
{
@if(f||l){<h2 style="background-color:aquamarine;">{{name}} and {{i}}</h2>}
@else if($odd){<h2 style="background-color:cadetblue;">{{name}} and {{i}}</h2>}
@else if($even){<h2 style="background-color:darkturquoise;">{{name}} and {{i}}</h2>}
<h2>{{$count}}</h2>
}@empty(){ <!--this act as else statement in for loop which means no data in list-->
<h2>no records</h2>}
<input type="text" placeholder="enter age" [(ngModel)]="agex" />
<h2>{{agex}}</h2>
<app-todo></app-todo>
<app-header></app-header>
<router-outlet/>
