<p>template-form works!</p>
<form #userform="ngForm"  (ngSubmit)="addDetails(userform.value)">
  <input #name="ngModel" name="name" type="text" required placeholder="enter name" ngModel />
  <span *ngIf="name.invalid && name.touched">name is required</span>
  <br />
  <input type="password" placeholder="enter password" name="password" ngModel />
  <br />
  <select ngModel name="gender">
    <option value="">select gender</option>
    <option value="male">Male</option>
    <option value="female">female</option>
  </select>
  <br />
  <input type="range" min="0"max="20" name="ramge" ngModel />
  <button [disabled]="userform.invalid">submit</button>
</form>
<!-- other properties are patterm="[a-z]+", email, minlength, maxlength-->
